{% extends "layout.html" %}
{% from "macros/data_table.html" import render_data_table %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    {% if g.user is not none %}
        <a href="/characters/new">Create New Character</a>
    {% endif %}

    <h1>Living Characters ({{ living_characters|length }})</h1>
    {{ render_data_table(living_characters, schema, preview_references, base_url=request.path) }}

    <h1>Dead Characters ({{ dead_characters|length }})</h1>
    {{ render_data_table(dead_characters, schema, preview_references, base_url=request.path, row_class='dead-character') }}
</div>
{% endblock %}
