{% extends "layout.html" %}

{% block title %}New {{ title }}{% endblock %}

{% block content %}
<div class="container">
	<a href="{{ request.path.replace('/new', '') }}">Back to View</a></br>
	<h1>{{ title }}:</h1>
	<form method="POST" action="{{ request.path }}/save">
		<table class="info-table">
			{% for field, attributes in schema.properties.items() %}
				{% if not attributes.calculated %}
					<tr>
						<th><label for="{{ field }}">{{ attributes.label }}</label></th>
						<td>
							{% if attributes.bsonType == "string" %}
								<input type="text" id="{{ field }}" name="{{ field }}"
								   {% if field in schema.required %} required {% endif %}>
							{% elif attributes.bsonType == "number" %}
								<input type="number" id="{{ field }}" name="{{ field }}"
								   {% if field in schema.required %} required {% endif %}>
							{% elif attributes.bsonType == "boolean" %}
								<input type="checkbox" id="{{ field }}" name="{{ field }}"
								   {% if field in schema.required %} required {% endif %}>
							{% elif attributes.bsonType == "linked_object" %}
								<select id="{{ field }}" name="{{ field }}">
									<option value="" selected>
										{{ attributes.get("noneResult", "None") }}
									</option>
									{% for option in dropdown_options[field] %}
										<option value="{{ option['_id'] }}">
											{{ option['name'] }}
										</option>
									{% endfor %}
								</select>
							{% elif attributes.bsonType == "enum" %}
									<select id="{{ field }}" name="{{ field }}">
										{% for option in attributes.enum %}
											<option value="{{ option }}">
												{{ option }}
											</option>
										{% endfor %}
									</select>
							{% endif %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}
