{% extends "layout.html" %}

{% block title %}{{ item["name"] }}{% endblock %}

{% block content %}
<div class="container">
	{% if g.user is not none %}
		<a href="{{ request.path.replace('item', 'edit') }}">Edit</a>
	{% endif %}
	<div class="action-links">
		<a href="{{ request.path }}/changes/pending">View Pending Changes</a>
		<a href="{{ request.path }}/changes/archived">View Change History</a>
	</div>
	<div class="content">
		<h1>
			{% if item.name %}
				{# If there's a name, use it in the URL #}
				{{ item.name }}:
			{% else %}
				{# Otherwise, use the _id #}
				{{ item._id }}:
			{% endif %}
		</h1>
		<table class="info-table">
			{% for field, properties in schema.properties.items() %}
				{% if properties and not properties.hidden
				and not (properties.hideIfNone is defined and (item.get(properties.hideIfNone) is none or item.get(properties.hideIfNone) == "" or not item.get(properties.hideIfNone)))%}
					<tr>
						<th><strong>{{ properties.label }}:</strong></th>
						{% if properties.bsonType == "string" or properties.bsonType == "enum" or properties.bsonType == "date"%}
							{% if properties.image %}
								<td><img src="{{ item[field] }}" alt="{{ properties.label }}" style="border-radius: 50%; width: 100px; height: 100px;"></td>
							{% elif properties.long_text %}
								<td>
									<div class="multiline-text">
										{{ item[field] }}
									</div>
								</td>
							{% else %}
								<td>{{ item[field] }}</td>
							{% endif %}
						{% elif properties.bsonType == "json_district_enum" %}
							{% if item[field] and item[field] in json_data[properties.json_data] %}
								<td>{{ json_data[properties.json_data][item[field]]["display_name"] }}</td>
							{% else %}
								<td>None</td>
							{% endif %}
						{% elif properties.bsonType == "number" %}
							{% if properties.format == "percentage" %}
								<td>{{ (item[field] * 100)|int }}%</td>
							{% else %}
								<td>{{ item[field] }}</td>
							{% endif %}
						{% elif properties.bsonType == "boolean" %}
							<td>{{ item[field] }}</td>
						{% elif properties.bsonType == "linked_object" %}
							<td>
								{% if field in linked_objects and linked_objects[field] is not none %}
									<a href="{{ linked_objects[field]['link'] }}">{{ linked_objects[field]["name"] }}</a>
								{% else %}
									{{ properties.get("noneResult", "None") }}
								{% endif %}
							</td>
						{% elif properties.bsonType == "object" %}
							<td>
								{% if properties.resource_storage or field == "resource_storage" or field == "resource_capacity" or field == "resource_production" or field == "resource_consumption" or field == "resource_excess" %}
									<table class="compact-table resource-table">
										<tbody>
											{% for resource_key, resource_value in item.get(field, {}).items()|sort %}
												<tr>
													<th>{{ resource_key }}</th>
													<td>{{ resource_value }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% else %}
									<table class="compact-table">
										<tbody>
											{% for key, value in item[field].items()|sort %}
												<tr>
													<th>{{ key }}</th>
													<td>{{ value }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% endif %}
							</td>
						{% elif properties.bsonType == "array" %}
							{% if properties.get("items", {}).get("bsonType", "None") == "string" %}
								<td>
									{% for sub_item in item[field] %}
										{{ sub_item }}<br>
									{% endfor %}
								</td>
							{% elif properties.get("items", {}).get("bsonType", "None") == "linked_object" %}
								<td>
									{% if linked_objects[field] %}
										<table class="linked-objects-table">
											<thead>
												<tr>
													<th>Name</th>
													{% if linked_objects[field][0] and linked_objects[field][0].get("linked_objects") %}
														{% for preview_field in linked_objects[field][0].get("linked_objects", {}).keys() %}
															<th>{{ preview_field|title }}</th>
														{% endfor %}
													{% endif %}
												</tr>
											</thead>
											<tbody>
												{% for item in linked_objects[field] %}
													<tr>
														<td><a href="{{ item['link'] }}">{{ item["name"] }}</a></td>
														{% if item.get("linked_objects") %}
															{% for preview_field, preview_obj in item.get("linked_objects", {}).items() %}
																<td>
																	{% if preview_obj %}
																		<a href="{{ preview_obj['link'] }}">{{ preview_obj["name"] }}</a>
																	{% else %}
																		None
																	{% endif %}
																</td>
															{% endfor %}
														{% endif %}
													</tr>
												{% endfor %}
											</tbody>
										</table>
									{% else %}
										None
									{% endif %}
								</td>
							{% elif properties.get("items", {}).get("bsonType", "None") == "object" %}
								<td>
									<ul>
										{% for sub_item in item[field] %}
											<li>{{ sub_item }}</li>
										{% endfor %}
									</ul>
								</td>
							{% elif properties.get("items", {}).get("bsonType", "None") == "json_district_enum" %}
								<td>
									<ul>
										{% set length = item[field]|length %}
										{% set max_length = properties.get("max_length") %}
										{% if max_length and max_length is string %}
											{% set max_length = item.get(max_length, 0) %}
										{% endif %}
										{% if max_length and length < max_length %}
											{% set length = max_length %}
										{% endif %}
										{% set district_data = json_data[properties.get("items", {}).get("json_data")] %}
										{% for i in range(0, length) %}
											{% if item.get(field, [])[i] in district_data and item.get(field, [])[i] %}
												<li>{{ district_data[item[field][i]]["display_name"] }}</li>
											{% else %}
												<li>None</li>
											{% endif %}
										{% endfor %}
									</ul>
								</td>
							{% elif properties.get("items", {}).get("bsonType", "None") == "json_unit_enum" %}
								<td>
									<ul>
										{% set length = item[field]|length %}
										{% set max_length = properties.get("max_length") %}
										{% if max_length and max_length is string %}
											{% set max_length = item.get(max_length, 0) %}
										{% endif %}
										{% if max_length and length < max_length %}
											{% set length = max_length %}
										{% endif %}
										{% set combined_data = {} %}
										{% for file_name in properties.get("items", {}).get("json_data", []) %}
											{% set combined_data = combined_data.update(json_data[file_name]) %}
										{% endfor %}
										{% for i in range(0, length) %}
											{% if item[field][i] and item[field][i] in combined_data %}
												<li>{{ combined_data[item[field][i]]["display_name"] }}</li>
											{% else %}
												<li>None</li>
											{% endif %}
										{% endfor %}
									</ul>
								</td>
							{% endif %}
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
