{% extends "layout.html" %}
{% from "macros/data_table.html" import render_data_table %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
	{% block edit_link %}
	{% if g.user is not none %}
		<a href="{{ request.path }}/edit">Edit</a>
	{% endif %}
	{% endblock %}
	{% block action_links %}
	<div class="action-links">
		<a href="{{ request.path }}/changes/pending">View Pending Changes</a>
		<a href="{{ request.path }}/changes/archived">View Archived Changes</a>
	</div>
	{% endblock %}
	{% block pre_table %}{% endblock %}
	{% block table_heading %}<h1>{{ title }}:</h1>{% endblock %}
	{{ render_data_table(items, schema, preview_references, base_url=request.path) }}
</div>
{% endblock %}
