{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
	{% if g.user.is_admin %}
		<a href="{{ request.path }}/edit">Edit</a>
	{% endif %}
	<h1>{{ title }}:</h1>
	<table class="info-table">
		{% for item in items %}
			<tr>
				{% if item.name %}
					{# If there's a name, use it in the URL #}
					<td><a href="{{ request.path }}/item/{{ item.name }}">{{ item.name }}</a></td>
				{% else %}
					{# Otherwise, use the _id #}
					<td><a href="{{ request.path }}/item/{{ item._id|string }}">{{ item._id }}</a></td>
				{% endif %}
				{% for preview_category in schema.preview %}
					<td>{{ item.get(preview_category, "None") }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
