{% extends "layout.html" %}

{% block title %}Admin Tools{% endblock %}

{% block content %}
<div class="container">
	<h1>Karma Helper</h1>
	<a href="/roll_karma">Roll Karma</a>
	<h2>Player Nations</h2>
	<table class="info-table">
		<thead>
			<tr>
				<th>Nation</th>
				<th>Event Type</th>
				<th>Event Roll</th>
				<th>Raw Roll</th>
				<th>Karma at Time of Roll</th>
				<th>Rolling Karma at Time of Roll</th>
				<th>Temp Karma at Time of Roll</th>
				<th>Current Karma</th>
				<th>Current Rolling Karma</th>
				<th>Current Temp Karma</th>
			</tr>
		</thead>
		<tbody>
			{% for nation in player_nations %}
				<tr>
					<td><a href="/nations/item/{{ nation.get('name', '') }}">{{ nation.get("name", "") }}</a></td>
					<td>{{ nation.get("event_type", "Unknown") }}</td>
					<td>{{ nation.get("event_roll", "Unknown") }}</td>
					<td>{{ nation.get("raw_roll", "Unknown") }}</td>
					<td>{{ nation.get("previous_karma", "Unknown") }}</td>
					<td>{{ nation.get("previous_rolling_karma", "Unknown") }}</td>
					<td>{{ nation.get("previous_temporary_karma", "Unknown") }}</td>
					<td>{{ nation.get("karma", "Unknown") }}</td>
					<td>{{ nation.get("rolling_karma", "Unknown") }}</td>
					<td>{{ nation.get("temporary_karma", "Unknown") }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>AI Nations</h2>
	<table class="info-table">
		<thead>
			<tr>
				<th>Nation</th>
				<th>Event Type</th>
				<th>Event Roll</th>
				<th>Raw Roll</th>
				<th>Karma at Time of Roll</th>
				<th>Rolling Karma at Time of Roll</th>
				<th>Temp Karma at Time of Roll</th>
				<th>Current Karma</th>
				<th>Current Rolling Karma</th>
				<th>Current Temp Karma</th>
			</tr>
		</thead>
		<tbody>
			{% for nation in ai_nations %}
				<tr>
					<td><a href="/nations/item/{{ nation.get('name', '') }}">{{ nation.get("name", "") }}</a></td>
					<td>{{ nation.get("event_type", "Unknown") }}</td>
					<td>{{ nation.get("event_roll", "Unknown") }}</td>
					<td>{{ nation.get("raw_roll", "Unknown") }}</td>
					<td>{{ nation.get("previous_karma", "Unknown") }}</td>
					<td>{{ nation.get("previous_rolling_karma", "Unknown") }}</td>
					<td>{{ nation.get("previous_temporary_karma", "Unknown") }}</td>
					<td>{{ nation.get("karma", "Unknown") }}</td>
					<td>{{ nation.get("rolling_karma", "Unknown") }}</td>
					<td>{{ nation.get("temporary_karma", "Unknown") }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
