<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="nav-left">
				<a href="{{ url_for('home') }}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
				
				{% for category in navbarPages %}
					<a href="/{{ category }}" {% if request.path == category %}class="active"{% endif %}>{{ category_data[category]["pluralName"] }}</a>
				{% endfor %}
				
			</div>
			<div class="nav-right">
				{% if g.user %}
					<a href="{{ url_for('logout') }}">Logout</a>
					<a href="{{ url_for('profile') }}">
						<img src="{{ g.user.avatar_url }}" alt="User Avatar">
					</a>
				{% else %}
					<a href="{{ url_for('login') }}">Login</a>
				{% endif %}
			</div>
		</nav>
	</header>
    <main>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
