{% extends "dataList.html" %}

{% block edit_link %}
{% if g.user and g.user.is_admin %}
	<a href="{{ request.path }}/edit">Edit</a>
{% endif %}
{% endblock %}

{% block action_links %}{% endblock %}

{% block pre_table %}
<h1>Current Wonder Cost:</h1>
<table class="compact-table">
	<thead>
		<tr>
			<th>Money</th>
			<th>Wood</th>
			<th>Stone</th>
			<th>Food</th>
			<th>Bronze</th>
			<th>Iron</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% set wonder_count = items|length %}
			<td>{{ 1000 + (100 * wonder_count) }}</td>
			<td>{{ 10 + (1 * wonder_count) }}</td>
			<td>{{ 5 + (1 * wonder_count) }}</td>
			<td>{{ 5 + (1 * wonder_count) }}</td>
			<td>{{ 5 + (1 * wonder_count) }}</td>
			<td>{{ 1 + (1 * wonder_count) }}</td>
		</tr>
	</tbody>
</table>
{% endblock %}
